@import url(general.css);

/* ARTICLES */

#articles {
    margin: auto;
}

#articles .back {
    color: #fae31f;
}


#articles article {
    margin: auto 20px;
}

#articles #content {
    display: grid;
    //grid-template-columns: 0.7fr 1.5fr 1fr;
    //grid-template-rows: 200px 200px 200px;
    border: solid 1px red;
    margin: 40px auto;
    grid-template-areas:
        "imgleft chapo chapo"
        "imgleft contentright contentright"
        "contentleft contentleft imgright";
}

#content #imgleft {
    grid-area: imgleft;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid purple;
}

#content #chapo {
    grid-area: chapo;
    font-family: "Menu";
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: justify;
    border: 1px solid green;
}

#content #contentleft {
    grid-area: contentleft;
    display: flex;
    flex-direction: row;
    justify-content: justify;
    border: 1px solid purple;
}

#content #imgright {
    grid-area: imgright;
    display: flex;
    flex-direction: row;
    justify-content: justify;
    border: 1px solid deeppink;
}

#content #contentright {
    grid-area: contentright;
    display: flex;
    flex-direction: row;
    justify-content: justify;
    border: 1px solid blue;
}
