@import url(general.css);

/* ARTICLES */

#articles {
    margin: auto;
}

#articles .back {
    color: #fae31f;
}


#articles article {
    margin: auto 20px;
}

#articles h2 {
    text-align: left;
    color: #fae31f;
    margin-bottom: 10px;
}

#articles h3 {
    margin-bottom: 0px;
}

#articles #content {
    display: grid;
    /*grid-template-columns: 0.7fr 1.5fr 1fr;
    //grid-template-rows: 200px 200px 200px;*/
    margin: 40px auto;
    grid-template-areas:
        "imgleft chapo chapo"
        "imgleft contentright contentright"
        "contentleft contentleft imgright";
}

#content #imgleft {
    grid-area: imgleft;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    margin-right: 20px;
    border-radius:12pt;
    margin-bottom: 20px;
}

#content #chapo {
    grid-area: chapo;
    font-family: "Menu";
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: justify;
    margin-top: 20px;
}

#content #contentleft {
    grid-area: contentleft;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: justify;
    margin-top: 20px;
}

#content #imgright {
    grid-area: imgright;
    display: flex;
    flex-direction: row;
    justify-content: justify;
    margin-left: 20px;
    height: 350px;
    border-radius:12pt;

}

#content #contentright {
    grid-area: contentright;
    font-family: "Menu";
    font-size: 16px;
    color: #46bbec;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: justify;

}

/* LISTE */

#wrapper_articles h2 {
    text-align: center;
    color: #fae31f;
    margin-bottom: 20px;
}

#wrapper_articles h3 {
    text-align: center;
    color: #fae31f;
    margin-bottom: 15px;
}

#wrapper_articles h4 {
    margin-top: -5px;
    margin-bottom: 15px;
    text-align: center;

}

.article_item_image {
    width: 50px;
}

#retour_articles {
    font-family: "Menu";
    font-size: 20px;
}

textarea {
    border: 1px solid #fae31f;
    border-radius:12pt;
    width: 400px;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

textarea::placeholder {
    color: #fae31f;
    padding-left: 10px;
}

textarea:focus {
    outline: none;
    background-color: #fae31f;
    color: #fae31f;
    padding-left: 10px;
}

input[type='submit'] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/* LISTE */
.liste_articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

a.article_item {
    margin: auto;
    border: 1px dotted #fae31f;
    -webkit-border-radius: 12pt;
    -moz-border-radius: 12pt;
    border-radius: 12pt;
    margin-bottom: 20px;
    padding: 10px;
    width: 500px;
    text-align: center;
}

a.article_item:hover {
    background-color: #fae31f;
}


#ajout_article form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}


#ajout_article form p input[type="checkbox"] {
    margin: auto;
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#ajout_article form p #checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#ajout_article .choisirbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

#ajout_article input[type="text"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;

}

#ajout_article form p input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 10px;
}


#ajout_article form p #text {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* COMMENTAIRES */
.commentaire_article {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 50px auto 20px;
    grid-row-gap: 10px;
    grid-template-areas:
            "photo  nom"
            "comm  comm"
            "date  date";
    margin: auto 400px;
    margin-top: 30px;
    border: 1px dashed #46bbec;
    -webkit-border-radius: 12pt;
    -moz-border-radius: 12pt;
    border-radius: 12pt;
    padding: 10px;
}

.comm {
    grid-area: comm;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.date {
    grid-area: date;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.commentaire_article img.profil_avatar {
    grid-area: photo;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    height: 50px;
}

.commentaire_article #pseudo_user {
    grid-area: nom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-family: "Titre";
    margin-left: 10px;

}



/* CONTENU */

#article #content img {
    width: 400px;
    border-radius: 12pt;
    grid-area: img;
}

#article .article_item_titre {
    font-family: "Titre";
    font-size :
    text-align: left;
    color: #fae31f;
    margin-bottom: 10px;
}

#article #content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas:
            "img text"
            "img text";
}

#article #content .content_text {
    grid-area: text;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#
