@font-face {
    font-family: "Titre";
    src: url('../fonts/Richela Kids.otf');
}

@font-face {
    font-family: "Menu";
    src: url('../fonts/ShreeDev0714-01.ttf');

}

/* COULEURS :
    BLEU FONCÉ : #2b4570
    BLEU CLAIR : #46bbec
    JAUNE : #fae31f
    ROSE : #e39172
*/

body {
    font-size: 16px;
    text-align: justify;
    margin: auto 50px;
    font-family: "Courier";
}

input {
    font-family: "Courier";
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    margin: 0px;
    padding: 0px;

}

h1,h2,h3,h4,h5,h6 {
    font-family: "Titre";
}

h2 {
    font-size : 2rem;
}

h3 {
    font-size : 1.6rem;
}


input[type="text"] {
    font-family: "Menu";
    background: transparent;
    border: 1px solid #2b4570;
    padding: 5px;
    -webkit-border-radius: 12pt;
    -moz-border-radius: 12pt;
    border-radius: 12pt;
}

input[type="text"]::placeholder {
    color: #2b4570;
    padding-left: 10px;
}

input[type="text"]:focus {
    outline: none;
    background-color: #2b4570;
    color: #fae31f;
    padding-left: 10px;

}

input[type="password"] {
    font-family: "Menu";
    background: transparent;
    border: 1px solid #2b4570;
    padding: 5px;
    -webkit-border-radius: 12pt;
    -moz-border-radius: 12pt;
    border-radius: 12pt;
}

input[type="password"]::placeholder {
    color: #2b4570;
    padding-left: 10px;
}

input[type="password"]:focus {
    outline: none;
    background-color: #2b4570;
    color: #fae31f;
    padding-left: 10px;
}

input[type="submit"] {
    font-family: "Menu";
    color: #46bbec;
    background: transparent;
    border: 1px solid #e39172;
    padding: 5px 7px;
    -webkit-border-radius: 12pt;
    -moz-border-radius: 12pt;
    border-radius: 12pt;
    font-weight: bold;
}

input[type="submit"]:hover {
    background: #e39172;
    color: #2b4570;
}

input[type="submit"]:focus {
    outline: none;
    background: #e39172;
    color: #2b4570;
}

.back {
    font-size: 50px;
    font-family: "Titre";
    position: absolute;
    margin: 0;
    opacity: 0.3;
    letter-spacing: 15px;
    -webkit-transform:scaleY(1.4);
    -moz-transform:scaleY(1.4);
    -o-transform:scaleY(1.4);
    margin-top: 10px;

}

.front {
    font-family: "Menu";
    position: relative;
    font-size: 40px;
    color: black;
    letter-spacing: 21px;
    padding-top: 15px;
    margin-top: 50px;
    margin-bottom: 15px;

}

/* MAINNAV */

#mainnav{
    font-family: "Menu";
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    margin-bottom: 20px;
}

#logo {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -10px;
    padding: 0px;
}


.maintext {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#subheader{
    margin-top: -15px;
    font-size: 12px;
}

#subheader div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#pagebanque:hover {
    color: #2b4570;
    font-weight: bolder;
}

#pagetutos:hover {
    color: #46bbec;
    font-weight: bolder;
}

#pagearticles:hover {
    color: #fae31f;
    font-weight: bolder;
}

#pagecommunaute:hover {
    color: #e39172;
    font-weight: bolder;

}

/* NAVBAR - MENU 4 ONGLETS*/
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    margin: 40px auto;
    grid-template-areas:
            "first second third fourth";

}

.navbar a:hover{
    font-weight: normal;
}

.navbar .hidden {
    display: none;
    font-family: "Titre";
    font-size: 40px;
    position: absolute;
    top: 270px;
    color: white;
}


.navbar span {
    padding: 5px;
    display: block;
    opacity: 0.8;
    font-family: "Titre";
    font-size: 40px;
    position: relative;
    color: rgba(0,0,0,0.8);

}

/* FIRST */
.navbar #first{
    grid-area: first;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../img/test.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}

.navbar #first:hover .hidden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 125px;

}

.navbar #first span {
    background-color: #2b4570;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar #first:hover span {
    color: #2b4570;
}


/* SECOND */
.navbar #second{
    grid-area: first;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../img/test.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}

.navbar #second:hover .hidden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 505px;

}

.navbar #second span {
    background-color: #46bbec;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar #second:hover span {
    color: #46bbec;

}


/* THIRD */

.navbar #third{
    grid-area: first;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../img/test.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}

.navbar #third:hover .hidden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 870px;
}

.navbar #third span {
    background-color: #fae31f;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar #third:hover span {
    color: #fae31f;
}

/* FOURTH */

.navbar #fourth{
    grid-area: first;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../img/test.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}

.navbar #fourth:hover .hidden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 1175px;
}

.navbar #fourth span {
    background-color: #e39172;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar #fourth:hover span {
    color: #e39172;
}

