@font-face {
    font-family: "Titre";
    src: url('../fonts/Richela Kids.otf');
}

@font-face {
    font-family: "Menu";
    src: url('../fonts/ShreeDev0714-01.ttf');

}

/* COULEURS :
    BLEU FONCÉ : #2b4570
    BLEU CLAIR : #46bbec
    JAUNE : #fae31f
    ROSE : #e39172
*/

body {
    font-size: 16px;
    text-align: justify;
    margin: auto 50px;
    font-family: "Courier";
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    margin: 0px;
    padding: 0px;

}

.back {
    font-size: 50px;
    font-family: "Titre";
    position: absolute;
    margin: 0;
    opacity: 0.3;
    letter-spacing: 15px;
    -webkit-transform:scaleY(1.4);
    -moz-transform:scaleY(1.4);
    -o-transform:scaleY(1.4);
    margin-top: 10px;

}

.front {
    font-family: "Menu";
    position: relative;
    font-size: 40px;
    color: black;
    letter-spacing: 21px;
    padding-top: 15px;
    margin-top: 50px;
    margin-bottom: 15px;

}

/* MAINNAV */

#mainnav{
    font-family: "Menu";
    margin: auto;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    margin-bottom: 20px;

}

#subheader{
    margin-top: -15px;
    font-size: 12px;
}

#subheader div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}




/* NAV SPE */

#pagebanque:hover {
    color: #2b4570;
    font-weight: bolder;
}

#pagetutos:hover {
    color: #46bbec;
    font-weight: bolder;
}

#pagearticles:hover {
    color: #fae31f;
    font-weight: bolder;
}

#pagecommunaute:hover {
    color: #e39172;
    font-weight: bolder;

}

/* NAVBAR - MENU 4 ONGLETS*/
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    border: solid 1px red;
    margin: 40px auto;
    grid-template-areas:
            "first second third fourth";
}


.navbar #first {
    grid-area: "first" ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px dotted green;
    background-image: url(../img/test.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar #second {
    grid-area: "second" ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px dotted green;
    background-image: url(../img/guitar.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar #third {
    grid-area: "third" ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px dotted green;
    background-image: url(../img/guitar.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar #fourth {
    grid-area: "fourth" ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px dotted green;
    background-image: url(../img/guitar.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.hidden {
    display: none;
    font-family: "Titre";
}

span {
    background-color: black;
    padding: 0px;
    display: block;
    opacity: 0.8;
}

#first span {
    background-color: #2b4570;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: rgba(0,0,0,1);
    font-family: "Titre";
    font-size: 40px;
    padding: 5px;
}

#second span {
    background-color: #46bbec;
}

#third span {
    background-color: #fae31f;
}

#fourth span {
    background-color: #e39172;
}

#first:hover .hidden {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: -5px;
    color: #2b4570;
}

#first:hover span {
    color: #2b4570;
}

#second:hover .hidden {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: -5px;
    color: #46bbec;
}
#third:hover .hidden {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: -5px;
    color: #fae37f;
}

#fourth:hover .hidden {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: -5px;
    color: #e39172;
}


