@import url(general.css);

/* PRESENTATION SITE*/
#presentation {
    margin: auto;
    color: black;
    margin-bottom: 70px;
    margin-top: 20px;
    text-align: justify;
}

#presentation h3 {
    margin-bottom: 30px;
    font-size: 30px;
}

#presentation article {
    margin: auto 20px;
    font-size: 20px;
}
#presentation article b {
    font-size: 20px;
}

/* EQUIPE */
#equipe h3 {
    margin-bottom: 30px;
    font-size: 30px;

}

#equipe .equipe {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 150px 150px 150px 150px;
    text-align: center;
    /*border: solid 1px purple;*/
    margin: 20px 100px;
    margin-top: 0px;
    grid-template-areas:
            "img1 text1 rien1"
            "rien2 text2 img2"
            "img3 text3 rien3"
            "rien4 text4 img4";
}

.equipe img {
    width: 150px;
    height: 150px;
    border-radius:12pt;
}

#equipe .equipe .imgleft {
    margin: auto;
    /*border: 1px solid blue;*/
}


ul li {
    list-style: none;
}

#equipe .equipe .text ul {
    margin: auto;
    /*border: solid 1px yellow;*/
    text-align: justify;
    padding : 10px;

}
#equipe .equipe #text1 {
    margin-left: 15px;
    margin-top: 20px;
}

#equipe .equipe #text2 {
    margin-right: 15px;
    margin-top: 20px;
}

#equipe .equipe #text3 {
    margin-left: 15px;
    margin-top: 20px;
}

#equipe .equipe #text4 {
    margin-right: 15px;
    margin-top: 20px;
}

#equipe .equipe #text1 ul {
    margin: auto;
    /*border: solid 1px yellow;*/
    text-align: justify;
    padding : 10px;
    margin-left: 15px;
}

#equipe .equipe #text2 ul {
    margin: auto;
    /*border: solid 1px yellow;*/
    text-align: right;
    padding : 10px;
    margin-right: 15px;
}

#equipe .equipe #text3 ul {
    margin: auto;
    /*border: solid 1px yellow;*/
    text-align: justify;
    padding : 10px;
    margin-left: 15px;
}

#equipe .equipe #text4 ul {
    margin: auto;
    /*border: solid 1px yellow;*/
    text-align: right;
    padding : 10px;
    margin-right: 15px;

}


#equipe .equipe .text .person {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Menu";
    font-size: 20px;
    font-weight: 900;
}

#equipe .equipe .text .role {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Menu";
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
}


#equipe .equipe .imgright {
    margin: auto;
    /*border: 1px solid deeppink;*/
}

/* Léa T */
#equipe .equipe #text2 .person {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#equipe .equipe #text2 .role {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* COULEURS PERSONNES */
#text1 .person, #text1 .role {
    color: #2b4570;
}

#text2 .person, #text2 .role {
    color: #46bbec;
}

#text3 .person, #text3 .role {
    color: #fae37f;
}

#text4 .person, #text4 .role {
    color: #e39172;
}

/* Léa L */
#equipe .equipe #text4 .person {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#equipe .equipe #text4 .role {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/** FOOTER **/
footer {
    margin: auto;
}
#barres hr{
    margin: 5px 0px;
}

#barres .barrefine {
    height: 2px;
    color: black;
    background: black;
}

#barres .barreforte {
    height: 5px;
    color: black;
    background: black;
}

.colonnes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    text-align: center;
    border: solid 1px darkolivegreen;
    margin: auto 100px;
    grid-template-areas:
            "plus infos onglets";
}

.colonnes ul li{
    list-style: none;
}

.plus {
    grid-area: plus;
    border: 1px solid deeppink;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos {
    grid-area: infos;
    border: 1px solid hotpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.onglets {
    grid-area: onglets;
    border: 1px solid lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
