#profil_conf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Menu";
}

#profil_conf h2 {
    text-align: left;
    color: #2b4570;
    margin-bottom: 10px;
}

#profil_conf h3 {
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
}


#profil_conf #photoprofil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#profil_avatar_conf {
    -webkit-border-radius: 12pt;
    -moz-border-radius: 12pt;
    border-radius: 12pt;
}

#fileToUpload {
    display: none;
}


#dataperso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px 30px 30px 30px 30px ;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-areas:
            "changer_pseudo     pseudo"
            "changer_nom        nom"
            "changer_prenom     prenom"
            "changer_sexe       sexe"
            "changer_anniv      anniv"
            "changer_lieu       region"
            "changer_lieu       pays";

    margin: auto 500px;
    margin-top: 5px;
    border: 1px solid #46bbec;
    -webkit-border-radius: 12pt;
    -moz-border-radius: 12pt;
    border-radius: 12pt;
    padding: 10px;
}


#changer_pseudo {
    grid-area: changer_pseudo;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
    margin-right: 0px;
}

#pseudo {
    grid-area: pseudo;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

#changer_nom {
    grid-area: changer_nom;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
    margin-right: 0px;
}

.nom {
    grid-area: nom;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#changer_prenom {
    grid-area: changer_prenom;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
    margin-right: 0px;
}

.prenom {
    grid-area: prenom;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#changer_sexe  {
    grid-area: changer_sexe;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
    margin-right: 0px;
}

.sexe {
    grid-area: sexe;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
}

#changer_anniv  {
    grid-area: changer_anniv;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
    margin-right: 0px;
}

.anniv {
    grid-area: anniv;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
}


#changer_lieu {
    grid-area: changer_lieu;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
    margin-right: 0px;
}

.pays {
    grid-area: pays;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
}

.region {
    grid-area: region;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
}

#enregistrermodifs {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#downloaddata {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}