#profil {
    font-family : "Menu";
}

#profil h2 {
    text-align: left;
    color: #2b4570;
    margin-bottom: 10px;
}

#profil h3 {
    margin-bottom: 0px;
}

#grille {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 30px 30px;
    grid-template-areas:
            "photo  nom"
            "photo  sexe"
            "photo  anniv";

    margin: auto 400px;
}


.profil_avatar {
    grid-area: photo;
    max-width: 190px;
    max-height: 110px;
    width: auto;
    height: auto;
    display:block;
    border-radius: 12pt;
    margin: auto;
    margin-right: 10px;

}

#nom {
    grid-area: nom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Titre";
    font-size: 30px;
}

#sexe {
    grid-area: sexe;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#anniv {
    grid-area: anniv;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imgbadge {
    grid-area: badge;
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#subgrille {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

a button {
    margin-top: 10px;
}

#bold {
    font-weight: bold;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}