@import url(normalize.css);
@import url(footer.css);
@import url(audioPlayer.css);
@import url(sound_page.css);

@font-face {
    font-family: 'libwav-font';
    src: url('../fonts/libwav-font.eot?yx5awl');
    src: url('../fonts/libwav-font.eot?yx5awl#iefix') format('embedded-opentype'),
    url('../fonts/libwav-font.ttf?yx5awl') format('truetype'),
    url('../fonts/libwav-font.woff?yx5awl') format('woff'),
    url('../fonts/libwav-font.svg?yx5awl#libwav-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'libwav-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
    content: "\e900";
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif;*/
    font-size: 14px;
}



/*  CLASSES   (utilisation : var(--main-bg-color) ) */
:root {
    /*Couleurs*/
    --titre-color: brown;
    --sous-titre-color: brown;
    --contenu-color: brown;
    /*Font-size*/
    --titre-size: brown;
    --sous-titre-size: brown;
    --contenu-size: brown;
}
/**/



body {
    background-color: #F2F2F2;
    margin: 0;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.row {
    position: relative;
}


#profil_avatar_conf {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}



#wrapper_report {
    background: red;
    width: 100%;
    height: 100vh;
   /* display: flex;*/
    display: none;
    position: fixed;
    z-index: 99999999999999999;
    top:0;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.9);
}

#wrapper_report > a {
    right:0;
    top:0;
    color:green;
}

#wrapper_report #div_report {
   margin:auto;
    background-color: yellow;
    padding: 20px;
}

#wrapper_report #div_report .reportForm {

}



.modal-dialog {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.8);
}



/*   BANDEAU ALERTE   */
#alerte-bandeau {
    background: #fae31f;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    border-radius:12pt;
    margin: auto;
    margin-top: -30px;
    margin-bottom: -20px;
}

#alerte-bandeau > a {
    text-decoration: none;
    margin: auto;
    color: black;
    font-weight: normal;
    font-size: 1rem;
}

#alerte-bandeau-croix {
     color: black;
     font-size: 20px;
     border: none;
     font-weight: normal;
 }

#alerte-bandeau-croix:hover {
    font-weight: bolder;
    background-color: #fae31f;
}
/* BANDEAU ALERTE END */



/*  NUMERO DE PAGE  */

#wrapper_nb_page {
    background-color: #2b4570;
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: auto;
    -webkit-border-radius: 12pt;
    -moz-border-radius: 12pt;
    border-radius: 12pt;
}

#wrapper_nb_page .numero_page {
    color: white;
    margin: auto;
    padding: 8px;
    cursor: pointer;
}

/*  NUMERO DE PAGE END  */

