@import url(normalize.css);
@import url(footer.css);
@import url(audioPlayer.css);

@font-face {
    font-family: 'libwav-font';
    src:  url('../fonts/libwav-font.eot?yx5awl');
    src:  url('../fonts/libwav-font.eot?yx5awl#iefix') format('embedded-opentype'),
    url('../fonts/libwav-font.ttf?yx5awl') format('truetype'),
    url('../fonts/libwav-font.woff?yx5awl') format('woff'),
    url('../fonts/libwav-font.svg?yx5awl#libwav-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'libwav-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
    content: "\e900";
}



html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* font-family: 'Montserrat', sans-serif;*/
}

body {
    background-color: #F2F2F2;
    margin: 0;
    scroll-behavior: smooth;
    overflow-y: scroll;
}














.postMsg {
    float:right;
    margin-top:10px;
    margin-bottom: 10px;
    padding:5px;
    background-color: #fff;
    color: #000;
    margin-right: 10px;
}

.likes {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    -webkit-mask-image: url(../img/love-song.svg);
    mask-image: url(../img/love-song.svg);
}

.reportsound {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    -webkit-mask-image: url(../img/report-button.svg);
    mask-image: url(../img/report-button.svg);
}


.downloadsound {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    -webkit-mask-image: url(../img/download.svg);
    mask-image: url(../img/download.svg);
}

.btn_lecture {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    -webkit-mask-image: url(../img/play-button.svg);
    mask-image: url(../img/play-button.svg;);
}

.sound_item {
    width: 40%;
    height: auto;
    background-image: url("../img/background-sound.jpg");
    background-size: cover;
}

.profil_avatar {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

#profil_avatar_conf {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

#btn-upload-son {
    background: cornflowerblue;
}

